// フレックス
.c-flex{
    display: flex;
    flex-wrap: wrap;

    // 【 横_位置 】
    &.-jc-sb   {justify-content: space-between;}// 両端
    &.-jc-sb_s {@include max(768){justify-content: space-between;}}
    &.-jc-cen    {justify-content: center;}// 真ん中
    &.-jc-cen_s  {@include max(768){justify-content: center;}}
    &.-jc-st    {justify-content: start;}// 左寄
    &.-jc-st_s  {@include max(768){justify-content: start;}}
    &.-jc-end    {justify-content: end;}// 右寄
    &.-jc-end_s  {@include max(768){justify-content: end;}}

    //【 縦_位置 】
    &.-h-cen    {align-items: center;}// 真ん中
    &.-h-cen_pc {@include min(768){align-items: center;}}
    &.-h-top    {align-items: flex-start;}// 上
    &.-h-top_pc {@include min(768){align-items: flex-start;}}
    &.-h-btm    {align-items: flex-end;}// 下
    &.-h-btm_pc {@include min(768){align-items: flex-end;}}

    // 【 反転 】
    &.-r{ flex-direction: row-reverse !important;}
    &.-r_s{ @include max(768){flex-direction: row-reverse !important;}}
    &.-cr{ flex-direction: column-reverse !important;}
    &.-cr_s{ @include max(768){flex-direction: column-reverse !important;}}


    // コンテンツ_カラム（sp:pc 1:2）
    &.-col1_2{
        .flexItem{// li
            width: 100%;
            @include min(768){width: 48.5%;}
        }
        &.-pc2_1{
            li{
                @include min(768){
                    &:nth-child(1){width: 75%;}
                    &:nth-child(2){width: 20%;}
                }
            }
        }
    }
    // コンテンツカラム（sp:pc 2:2）
    &.-col2_2{
        .flexItem{width: 48.5%;}// li
    }
    // コンテンツ_カラム（sp:大1小2、pc:3）
    &.-col2M1_3{
        .flexItem{// li
            width: 48.5%;
            @include min(768){width: 32%;}
        }
        .flexItem_M{
            @include max(768){width: 100%;}
            @include min(768){width: 32%;}
        }
    }
    // コンテンツ_カラム（sp:1 pc:大1小2）
    &.-col1_2M1{
        .flexItem{// li
            width: 100%;
            @include min(768){width:48.5%}
        }
        .flexItem_M{
            @include max(768){width: 100%;}
            @include min(768){width: 100%;}
        }
    }
    // コンテンツ_カラム（sp:2 pc:3）
    &.-col2_3{
        .flexItem{// li
            width: 48.5%;
            @include min(768){width: 32%;}
        }
    }
    // コンテンツカラム（sp:pc 2:4）
    &.-col2_4{
        .flexItem{
            width: 48.5%;
            @include min(768){width: 23.5%;}
        }
    }
    // コンテンツ_カラム（sp,pc:5）
    &.-col5{
        .flexItem{width: calc(100%/5 - 10px);}
    }


    // ------------- お店の情報 --------------
    &.-shop-information{
        flex-wrap: wrap;
        @include min(768){flex-wrap: nowrap;}
        li{
            &:nth-child(1){width: 100%;}
            &:nth-child(2){width: 20%;}
            &:nth-child(3){width: 80%;}

            &:nth-child(2),
            &:nth-child(3){
                margin: 0 !important;
            }
            @include min(768){
                &:nth-child(1){width: 43%;}
                &:nth-child(2){width: 9%;}
                &:nth-child(3){width: 48%;}
            }
            @include min(1400){
                margin: 0 !important;
                &:nth-child(1){width: 47%;}
                &:nth-child(2){width: 8%;}
                &:nth-child(3){width: 45%;}
            }
        }
        &_col2{
            flex-wrap: wrap;
            @include min(768){flex-wrap: nowrap;}
            li{
                &:nth-child(1){width: 60%;}
                &:nth-child(2){width: 14%;}
                &:nth-child(3){width: 25%;}
                @include min(768){
                    &:nth-child(1){width: 61%;}
                    &:nth-child(2){width: 15%;}
                    &:nth-child(3){width: 24%;}

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3){margin: 0 !important;}

                }
                @include min(1400){
                    &:nth-child(1){width: 60%;}
                    &:nth-child(2){width: 13%;}
                    &:nth-child(3){width: 27%;}
                }
            }
            
        }
        &_col3{
            flex-wrap: wrap;
            li{
                margin: 0 !important;
                &:nth-child(1){width: 100%;}
                &:nth-child(2){width: 28%;}
                &:nth-child(3){width: 72%;}
                @include min(768){
                    &:nth-child(1){width: 100%;}
                    &:nth-child(2){width: 24%;}
                    &:nth-child(3){width: 76%;padding: 1% 0;}

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3){margin: 0 !important;}
                }
                @include min(1000){
                      &:nth-child(2),
                      &:nth-child(3){padding: 1% 0;}
                }
                @include min(1400){
                    &:nth-child(1){width: 100%;}
                    &:nth-child(2){width: 18%;}
                    &:nth-child(3){width: 82%;}
                }
            }
            
        }
    }
    // ------------- 物件概要 ----------------
    &.-gaiyou{
        li{
            width: 100%;
            margin: 0 auto;
            &.text{
                @include min(768){width: calc(35% - 15px);}
            }
            &.img{
                @include min(768){width: calc(65% - 15px);}
            }
        }
        &.-col2{
            justify-content: space-between;
            margin: 0;
            li{
                width: calc(50% - 5px);
                margin: 0;
                &:nth-child(1){margin-right: 5px !important;}
                &:nth-child(2){margin-left: 5px !important;}
                @include min(768){
                    width: calc(50% - 15px);
                    &:nth-child(1){margin-right: 15px !important;}
                    &:nth-child(2){margin-left: 15px !important;}
                }
                &.text{
                    @include min(768){width: calc(35% - 15px);}
                }
                &.img{
                    @include min(768){width: calc(65% - 15px);}
                }
            }
        }
    }
}